openapi: 3.0.3
info:
  title: RU_Gid_4
  description: API для получения информации о местах, их категориях, добавления мест в избранное и поиска мест на карте.
  version: 1.0.0

servers:
  - url: https://ru-gid.io/api/v1

tags:
  - name: place
  - name: category
  - name: search
  - name: favorite

paths:
  /places/{placeId}:
    get:
      tags:
        - place
      summary: Получить место по ID
      description: Возвращает информацию о конкретном месте.
      parameters:
        - name: placeId
          in: path
          required: true
          description: ID места
          schema:
            type: string
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Place'
        '400':
          description: Некорректный запрос
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Ошибка
                    example: 'Invalid ID format'
        '404':
          description: Место не найдено
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Ошибка
                    example: 'Place not found'
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Ошибка
                    example: 'Internal server error'

  /place/search:
    get:
      tags:
        - search
      summary: Поиск мест
      parameters:
        - name: query
          in: query
          required: true
          description: Возвращает список мест по запросу из поиска.
          schema:
            type: string
            example: 'Музей'
        - name: distance
          in: query
          required: false
          description: Расстояние до центра города (в метрах)
          schema:
            type: integer
            example: 3500
        - name: rating_min
          in: query
          required: false
          description: Минимальный рейтинг
          schema:
            type: number
            example: 4.5
        - name: rating_max
          in: query
          required: false
          description: Максимальный рейтинг
          schema:
            type: number
            example: 4.5
        - name: features
          in: query
          required: false
          description: Особенности и удобства места
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - wifi
                - parking
                - pay_by_card
                - disabled_toilet
                - entrance_ramp
        - name: sort_by
          in: query
          required: false
          description: Сортировка
          schema:
            type: string
            enum:
              - rating_desc
              - rating_asc
            example: rating_desc
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  places:
                    type: array
                    items:
                      $ref: '#/components/schemas/Place'
        '400':
          description: Некорректные параметры фильтрации
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Ошибка
                    example: 'Invalid filter parameters'
        '404':
          description: Места не найдены
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Ошибка
                    example: 'Place not found'
        '500':
          description: Ошибка сервера
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Ошибка
                    example: 'Internal server error'

  /category:
    get:
      tags:
        - category
      summary: Получение списка категорий
      description: Возвращает список категорий.
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  categories:
                    type: array
                    items:
                      $ref: '#/components/schemas/Category'
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Ошибка
                    example: 'Internal server error'

  /category/{categoryId}/places:
    get:
      tags:
        - category
      summary: Поиск мест по категории
      description: Возвращает список мест в заданной категории.
      parameters:
        - name: category_id
          in: path
          required: true
          description: ID категории
          schema:
            type: string
            example: '123'
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  places:
                    type: array
                    items:
                      $ref: '#/components/schemas/Place'
        '404':
          description: Места не найдены
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Ошибка
                    example: 'Place not found'
        '500':
          description: Ошибка сервера
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Ошибка
                    example: 'Internal server error'

  /place/map:
    get:
      tags:
        - search
      summary: Поиск мест по местоположению
      description: Возвращает список мест в заданном радиусе от координат.
      parameters:
        - name: lat
          in: query
          required: true
          description: Широта
          schema:
            type: number
            example: 59.851439
        - name: lng
          in: query
          required: true
          description: Долгота
          schema:
            type: number
            example: 30.295541
        - name: radius
          in: query
          required: true
          description: Радиус
          schema:
            type: integer
            example: 1000
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  places:
                    type: array
                    items:
                      $ref: '#/components/schemas/Place'
        '400':
          description: Некорректные координаты
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Ошибка
                    example: 'Invalid coordinates format'
        '404':
          description: Места не найдены
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Ошибка
                    example: 'Place not found'
        '500':
          description: Ошибка сервера
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Ошибка
                    example: 'Internal server error'

  /user/favorite/place/:
    post:
      tags:
        - favorite
      summary: Добавление места в избранное
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: ID места
              properties:
                place_id:
                  type: integer
                  example: 123

      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Сообщение
                    example: 'Place added to favorites.'
        '400':
          description: Неверный id места
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Ошибка
                    example: 'Invalid place ID'
        '404':
          description: Место не найдено
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Ошибка
                    example: 'Place not found'
        '500':
          description: Ошибка сервера
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Ошибка
                    example: 'Internal server error'

  /user/favorite/place/{place_id}:
    delete:
      tags:
        - favorite
      summary: Удаление места из избранного
      parameters:
        - name: place_id
          in: path
          required: true
          description: ID места
          schema:
            type: integer
            example: 123
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Сообщение
                    example: 'Place removed from favorites.'

        '400':
          description: Неверный id места
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Ошибка
                    example: 'Invalid place ID'
        '404':
          description: Место не найдено
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Ошибка
                    example: 'Place not found'
        '500':
          description: Ошибка сервера
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Ошибка
                    example: 'Internal server error'

components:
  schemas:
    Place:
      required:
        - id
        - name
        - category
        - rating
        - reviews_count
        - latitude
        - longitude
      type: object
      properties:
        id:
          type: string
          description: ID места
          example: 123
          maxLength: 255
        name:
          type: string
          description: Название места
          example: 'Музей Гранд Макет Россия'
          maxLength: 255
        category:
          type: string
          description: Категория места
          example: 'Музей'
          maxLength: 255
        rating:
          type: number
          description: Рейтинг места
          example: 5.0
          maximum: 5
        reviews_count:
          type: integer
          description: Количество отзывов
          example: 2236
        latitude:
          type: number
          description: Широта
          example: 59.851439
        longitude:
          type: number
          description: Долгота
          example: 30.295541
        address:
          type: object
          description: Адрес
          properties:
            street:
              type: string
              description: Улица
              example: 'Цветочная улица'
              maxLength: 255
            building:
              type: string
              description: Здание
              example: '16Л'
              maxLength: 255
            distance_m:
              type: number
              description: Расстояние до центра города (в метрах)
              example: 3500
        working_hours:
          type: object
          description: Время работы
          properties:
            weekdays:
              type: object
              description: Время работы в будние дни
              properties:
                open:
                  type: string
                  description: Время открытия
                  example: 10:00
                close:
                  type: string
                  description: Время закрытия
                  example: 22:00
            weekends:
              type: object
              description: Время работы в выходные дни
              properties:
                open:
                  type: string
                  description: Время открытия
                  example: 10:00
                close:
                  type: string
                  description: Время закрытия
                  example: 22:00
        pricing:
          type: array
          description: Цены
          items:
            type: object
            properties:
              type:
                type: string
                description: Тип цены
                example: 'Детский льготный'
                minLength: 1
                maxLength: 255
              price:
                type: number
                description: Цена
                example: 420
        discount:
          type: object
          description: Скидка
          properties:
            value:
              type: string
              description: Значение скидки
              example: '-10%'
            condition:
              type: string
              description: Условие получения скидки
              example: 'Получите скидку 10% при покупке от 2-х билетов'
              maxLength: 255
        contacts:
          type: array
          description: Контакты
          items:
            type: string
            description: Контакт
            example: +7 (984)-774-96-17
        social_links:
          type: object
          description: Ссылки на соц. сети
          properties:
            website:
              type: string
              description: Ссылка на сайт
              example: https://example.com
              format: uri
            vk:
              type: string
              description: Ссылка на VK
              example: https://vk.com/example
              format: uri
            telegram:
              type: string
              description: Ссылка на Telegram
              example: https://t.me/example
              format: uri
        img:
          type: string
          description: Ссылка на изображение
          example: 'https://example.com/images/place/123.jpg'
          format: uri
        description:
          type: string
          description: Описание
          example: 'История музея...'
          minLength: 1
          maxLength: 255
        features:
          type: array
          description: Особенности и удобства места
          items:
            type: string
            enum:
              - wifi
              - parking
              - pay_by_card
              - disabled_toilet
              - entrance_ramp
            example: wifi,parking


    Category:
      required:
        - id
        - name
        - img_url
      type: object
      properties:
        id:
          type: string
          description: ID категории
          example: 123
          maxLength: 255
        name:
          type: string
          description: Название категории
          example: 'Музей'
          maxLength: 255
        img_url:
          type: string
          description: Ссылка на изображение
          example: 'https://example.com/images/category/123.jpg'
          format: uri
