openapi: 3.0.3
info:
  title: Task_5_5
  description: API для экрана Яндекс Еды в рамках практического задания
  version: 1.0.0

servers:
  - url: https://ecommerce.io/api/v1

tags:
  - name: restaurants
    description: Операции с магазинами
  - name: cart
    description: Операции с корзиной
  - name: search
    description: Операции с поиском

paths:
  /restaurants:
    get:
      summary: Получить список ресторанов
      tags: [restaurants]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Restaurant'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'Restaurant not found'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'Internal Server Error'

  /cart:
    get:
      summary: Получить содержимое корзины
      tags: [cart]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  cart:
                    type: array
                    items:
                      $ref: '#/components/schemas/Item'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'Cart not found'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'Internal Server Error'

  /search:
    get:
      summary: Получить список товаров поиска
      tags: [search]
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
            example: 'Пицца'
          description: Поисковый запрос
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SearchItem'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'Search not found'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'Internal Server Error'

components:
  schemas:
    Restaurant:
      type: object
      required:
        - title
        - img_url
        - type
        - time_delivery
      properties:
        title:
          type: string
          example: 'Магнит'
        img_url:
          type: string
          example: 'https://magnit.jpeg'
        type:
          type: string
          example: 'Ресторан'
        time_delivery:
          type: integer
          description: 'Время доставки в минутах'
          example: 20
    Item:
      type: object
      required:
        - title
        - description
        - img_url
        - amount
        - currency
        - quantity
      properties:
        title:
          type: string
          example: 'Пицца'
        description:
          type: string
          example: 'Пицца с томатным соусом и сыром'
        img_url:
          type: string
          example: 'https://example.com/pizza.png'
        amount:
          type: number
          example: 100
        currency:
          type: string
          example: 'RUB'
        quantity:
          type: integer
          description: 'Количество товаров в корзине'
          example: 1

    SearchItem:
      type: object
      required:
        - title
        - description
        - img_url
        - price
        - currency
        - restaurant
      properties:
        title:
          type: string
          example: 'Пицца'
        description:
          type: string
          example: 'Пицца с томатным соусом и сыром'
        img_url:
          type: string
          example: 'https://example.com/pizza.png'
        price:
          type: number
          example: 100
        currency:
          type: string
          example: 'RUB'
        restaurant:
          $ref: '#/components/schemas/Restaurant'
